input[type=text], input[type=password] {
    background-color: #f6f6f6;
    color: #282828;
    transition: all 0.5s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: #cccccc;
}
